<style>
    /* .address-card {} */
    .address-card .head-logo {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
</style>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="bny-card address-card">
            <div class="head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">张三</h4>
                <h5 class="bny-card-subtitle">Zhang san</h5>
                <p class="bny-card-text">E-mail:xxx@baidu.com <br>
                    Weibo: https://weibo.com/ <br>
                    Tel: (123) 456-7890</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="bny-card address-card">
            <div class="head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">张三</h4>
                <h5 class="bny-card-subtitle">Zhang san</h5>
                <p class="bny-card-text">E-mail:xxx@baidu.com <br>
                    Weibo: https://weibo.com/ <br>
                    Tel: (123) 456-7890</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="bny-card address-card">
            <div class="head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">张三</h4>
                <h5 class="bny-card-subtitle">Zhang san</h5>
                <p class="bny-card-text">E-mail:xxx@baidu.com <br>
                    Weibo: https://weibo.com/ <br>
                    Tel: (123) 456-7890</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="bny-card address-card">
            <div class="head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">张三</h4>
                <h5 class="bny-card-subtitle">Zhang san</h5>
                <p class="bny-card-text">E-mail:xxx@baidu.com <br>
                    Weibo: https://weibo.com/ <br>
                    Tel: (123) 456-7890</p>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3">
        <div class="bny-card address-card">
            <div class="head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">张三</h4>
                <h5 class="bny-card-subtitle">Zhang san</h5>
                <p class="bny-card-text">E-mail:xxx@baidu.com <br>
                    Weibo: https://weibo.com/ <br>
                    Tel: (123) 456-7890</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="bny-card address-card">
            <div class="head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">张三</h4>
                <h5 class="bny-card-subtitle">Zhang san</h5>
                <p class="bny-card-text">E-mail:xxx@baidu.com <br>
                    Weibo: https://weibo.com/ <br>
                    Tel: (123) 456-7890</p>
            </div>
        </div>
    </div>
</div>