<style>
    /* .personal {} */
    .personal-mine {
        text-align: center;
    }

    .personal-mine .personal-head-logo {
        display: block;
        width: 100%;
        margin: 15px 0;
    }

    .personal-mine .personal-ver {
        padding: 15px 0;
    }

    .personal-mine .follow {
        width: 100%;
        margin: 0;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="bny-card personal-mine">
            <div class="personal-head-logo">
                <img src="/assets/bunny/bunny.png" width="96" height="96" alt="头像">
            </div>
            <div class="bny-card-body">
                <h4 class="bny-card-title">兔子</h4>
                <p class="bny-card-text">一个爱折腾的开发小组</p>
                <div class="personal-ver">
                    <div class="bny-btn-group">
                        <button class="bny-btn">
                            <i class="icon icon-zhanghao"></i>
                        </button>
                        <button class="bny-btn">
                            <i class="icon icon-shoucang"></i>
                        </button>
                        <button class="bny-btn">
                            <i class="icon icon-weixin"></i>
                        </button>
                        <button class="bny-btn">
                            <i class="icon icon-QQ"></i>
                        </button>
                    </div>
                </div>
                <a target="_blank" href="https://github.com/workbunny" class="bny-btn bg-success follow">跟随</a>
            </div>
        </div>
        <div class="bny-card">
            <div class="bny-card-header">
                关于我们
            </div>
            <div class="bny-card-body">
                <p class="bny-card-text">
                    <i class="icon icon-dingwei"></i><span>中国</span>
                </p>
                <p class="bny-card-text">
                    <i class="icon icon-jingji"></i> https://github.com/workbunny
                </p>
                <p class="bny-card-text">
                    介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明
    </div>
</div>